body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 15px;
}

.tabs {
  display: flex;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  margin: 5px;
  border-radius: 20px;
}

.tabs .active {
  background: black;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.card {
  background: white;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

button {
  cursor: pointer;
}

.upload-box input {
  width: 100%;
  margin: 5px 0;
}

.video-box iframe {
  width: 100%;
  margin-top: 10px;
}
