body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 15px;
}

h2 {
  text-align: center;
}

.tabs {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.tabs .active {
  background: black;
  color: white;
}

.upload-box {
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.upload-box input,
.upload-box textarea,
.upload-box select {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

.upload-box button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.card {
  background: white;
  margin-bottom: 15px;
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card-content {
  padding: 10px;
}

.card-content span {
  font-size: 12px;
  color: gray;
}

.card-content p {
  color: blue;
  cursor: pointer;
}

.detail {
  display: none;
  padding: 10px;
  background: #fff;
}
